aioredis==1.2.0
amqp==2.3.2
asgi-redis==1.4.3
asgiref==2.3.2
astroid==2.1.0
async-timeout==3.0.1
attrs==18.2.0
autobahn==18.11.2
Automat==0.7.0
billiard==3.5.0.4
blessings==1.7
botocore==1.7.23
bpython==0.17.1
cachetools==3.0.0
celery==4.1.0
certifi==2018.10.15
channels==2.1.3
channels-redis==2.3.0
chardet==3.0.4
colorama==0.4.1
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
curtsies==0.3.0
daphne==2.2.3
decorator==4.3.0
defusedxml==0.5.0
Django==1.11.16
django-allauth==0.37.1
django-cors-headers==2.4.0
django-db-multitenant==0.3.2
django-extensions==2.1.2
django-filter==1.0.4
django-fsm==2.6.0
django-lazysignup==1.1.2
django-pdb==0.6.1
django-redis==4.9.0
django-rest-auth==0.9.3
django-rest-swagger==2.1.2
djangorestframework==3.8.2
djangorestframework-jwt==1.11.0
docutils==0.14
et-xmlfile==1.0.1
flake8==3.5.0
google-api-python-client==1.7.4
google-auth==1.6.1
google-auth-httplib2==0.0.3
greenlet==0.4.15
gspread==3.0.0
hiredis==0.3.0
httplib2==0.12.0
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
ipython==6.2.1
ipython-genutils==0.2.0
isort==4.3.4
itypes==1.1.0
jdcal==1.4
jedi==0.13.1
Jinja2==2.10
jmespath==0.9.3
kombu==4.2.1
lazy-object-proxy==1.3.1
lml==0.0.7
Markdown==2.6.9
MarkupSafe==1.1.0
mccabe==0.6.1
mongoengine==0.9.0
msgpack==0.5.6
msgpack-python==0.5.6
numpy==1.15.1
oauth2client==4.1.2
oauthlib==2.1.0
odfpy==1.3.6
openapi-codec==1.3.2
openpyxl==2.5.11
pandas==0.20.3
parso==0.3.1
pickleshare==0.7.5
prompt-toolkit==1.0.15
psycopg2==2.7.5
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycodestyle==2.3.1
pyexcel==0.5.9.1
pyexcel-io==0.5.10
pyflakes==1.6.0
Pygments==2.3.0
PyHamcrest==1.9.0
PyJWT==1.6.4
pylint==1.7.4
pymongo==3.5.1
pypiwin32==223
python-dateutil==2.7.3
python3-openid==3.1.0
pytz==2018.7
pywin32==224
PyYAML==3.13
redis==2.10.6
requests==2.19.1
requests-oauthlib==1.0.0
rsa==4.0
simplegeneric==0.8.1
simplejson==3.16.0
six==1.11.0
SQLAlchemy==1.2.12
tablib==0.12.1
texttable==1.5.0
traitlets==4.3.2
transitions==0.6.2
Twisted==18.9.0
txaio==18.8.1
typed-ast==1.1.0
typing==3.6.6
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.23
vine==1.1.4
wcwidth==0.1.7
Werkzeug==0.12.2
wrapt==1.10.11
xlrd==1.1.0
xlwt==1.3.0
zope.interface==4.6.0
